/* CONTENEDOR DE PROYECTOS */
*  {box-sizing: border-box;
margin: 0;
padding: 0;
}
:root {
    --violeta-oscuro: #240046;
    --violeta-medio: #5a189a;
    --violeta-claro: #9d4edd;
    --acento: #c77dff;
    --fondo: #f8f7ff;
    --panel: #ffffff;
    --texto: #1a1a2e;
}
.contenedor-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, var(--fondo), var(--violeta-medio));
    color: var(--texto);
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background: linear-gradient(135deg, var(--violeta-medio), var(--violeta-claro));  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

nav {
    background-color: var(--violeta-oscuro);
    display: flex;
    padding: 15px;
    gap: 20px;
    border-radius: 15px;
}


nav a {
    color: var(--acento);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 5px;   
    
}

nav a:hover {
    background-color: var(--violeta-claro);
    color: white;
}

section h2{
    text-align: center;
    font-size: 1.8rem;
}
.contenedor-proyectos {
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.25remx;
    margin: 30px;
}

.card-proyecto {
    flex: 1 1280px;
    background: var(--panel);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
    border: 1px solid rgba(0,0,0,0.05);
   
}

.card-proyecto:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

/* IMAGEN */
.card-proyecto img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* TITULO */
.card-proyecto h3 {
    color: var(--violeta-oscuro);
    margin-bottom: 10px;
    font-size: 1.3rem;
        font-family: 'Poppins', sans-serif;

}

.card-proyecto p {
    font-size: 1.3rem;
    color: var(--violeta-medio);
    line-height: 1.4;
        font-family: 'Poppins', sans-serif;


}
footer {
    text-align: center;
    padding: 15px;
    background: var(--violeta-oscuro);
    color: var(--acento);
    margin-top: auto;
}