*  {box-sizing: border-box;
margin: 0;
padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{background: linear-gradient(180deg, #051f20, #173832, #235347);
    color: #dbf0db;
font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6; 
    padding: 60px 20px;

}
header h1{
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
footer {
    background-color: #051f20;
    text-align: center;
    padding: 40px 25px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 90px;
    background-color: #173831;
    padding: 15px;
    border-radius: 25px;

}
nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 0px 100px;
    background-color: #8cb79b;
    border-radius: 25px;
    padding: 10px 25px;
}
nav a:hover {
    color:aqua;
}


#sobre-mi{
    border-radius: 25px;
    padding:15px ;
    background-color: #235347;
    text-align: center;}
    h2{
        border-radius: 25px;
        background-color: #051f20;
        margin: 10px;
        padding: 10px;
        display: inline-block;
        
    }
.contenedor1{
    display: flex;
    align-items: center;
    gap: 100px;
}
.textosobremi{
    margin: 15px;
    padding: 20px;
    border-radius: 25px;
    border-color: #dbf0dd;
    text-align: left;
    font-size: 25px;
    max-width: 800px;
    background-color: #8cb79b;
}
.perfil{
    width: 300px;
    height: 300px;
    border-radius: 30%;
    object-fit: cover;
}
#intereses {
    text-align: left;
    border-radius: 30px;
    background-color: #235347;
}
ul { 
    text-align: center;
    background-color: #8cb79b;
    display: block;
}